@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}
html{
    scroll-behavior: smooth;
}
body {
  background: black;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: rgb(0, 0, 0);
  position: fixed;
  background: transparent;
  z-index: 1000;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 1%;
  width: auto;
  height: 40px;
  background: rgb(64, 0, 0);
  align-items: center;
  border-radius: 50px;
}

.navigation-bar ul {
  list-style: none;
}

.navigation-bar a {
  text-decoration: none;
  color: aliceblue;
}

.logo{
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.596));
    left: 200px;
}
.logo h1{
    color: aliceblue;
}

section {
  width: 100%;
  height: 100vh;
}

.home {
  display: flex;
}
.content-left {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 5%;
}
.content-left h1 {
  color: aliceblue;
  font-size: 50px;
  padding-left: 200px;
}
.content-left p {
  color: aliceblue;
  font-size: 30px;
  padding-left: 200px;
}
.content-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/background-projects.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.content-cards {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  position: relative;
  z-index: 2;
}
.project-card {
  display: flex;
  text-align:center;
  line-height: 200%;
  width: 30%;
  height: 80%;
  background: #242424;
  border-radius: 40px;
  color: aliceblue;
  padding: 10px;
  transition: all 0.6s;
}
.project-card:hover {
  background: rgb(64, 0, 0);
  transform: scale(1.07);
  box-shadow: 0 0 50px rgba(245, 245, 245, 0.457);
}
.project-card h1 {
  margin: 20px 0px;
  font-size: 40px;
}
.project-card p {
  margin: 40px 0px;
}
.but-project{
  position: relative;
  display: inline-block;
  align-content: center;
  text-decoration: none;
  border: none;
  width: 35%;
  height: 10%;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: rgb(64, 0, 0);
  color: aliceblue;
}

.but-project:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.05);
}

.title-projects {
  position: absolute;
  top: 1000px;
  color: transparent;
  font-size: 150px;
  z-index: 0;
}
.title-projects span {
  color: transparent;
  -webkit-text-stroke:1px rgba(240, 248, 255, 0.219);
  padding: 4px 8px;
  border-radius: 5px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 30px;
}

.contact{
  display: flex;

  
}

form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
  display: inline-block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid red;
  border-radius: 5px;
  font-size: 16px;
  background:transparent;
}

button {
  padding: 10px 20px;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ffffff;
  color: #ff0000;
}

.title-contact {
  position: absolute;
  color: transparent;
  display: flex;
  left: 15%;
  font-size: 150px;
  z-index: 0;
}
.title-contact span {
  color: transparent;
  -webkit-text-stroke: 1px rgba(240, 248, 255, 0.24);
  padding: 4px 8px;
  border-radius: 5px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 30px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(64, 0, 0);
  width: 100%;
  height: 10vh;
}
.data p{
  color: #eeeeee;
}